<html>

<head>

</head>

<body>
  <h1>
    Symptom Scoresheet
  </h1>
  <form action="/submit_form" method="post">
    <label>
      How many concussions have you sustained?
    </label>
    <br>
    <input type="radio" name="concussion_number" value="1"> 1<br>
    <input type="radio" name="concussion_number" value="2"> 2<br>
    <input type="radio" name="concussion_number" value="3"> 3<br>
    <input type="radio" name="concussion_number" value="4"> 4<br>
    <input type="radio" name="concussion_number" value="5"> 5<br>
  <form action="">
    <label>
      How bad is your headache, with 1 being the least and 5 being the most painful?
    </label>
    <br>
    <input type="radio" name="headache_level" value="1"> 1<br>
    <input type="radio" name="headache_level" value="2"> 2<br>
    <input type="radio" name="headache_level" value="3"> 3<br>
    <input type="radio" name="headache_level" value="4"> 4<br>
    <input type="radio" name="headache_level" value="5"> 5<br>
  <form action="">
      <label>
      How nauseous are you?
      </label>
      <br>
      <input type="radio" name="nauseous_level" value="1"> 1<br>
      <input type="radio" name="nauseous_level" value="2"> 2<br>
      <input type="radio" name="nauseous_level" value="3"> 3<br>
      <input type="radio" name="nauseous_level" value="4"> 4<br>
      <input type="radio" name="nauseous_level" value="5"> 5<br>
      <form action="">
      <label>
        How drowsy are you?
          </label>
        <br>
        <input type="radio" name="drowsy_level" value="1"> 1<br>
        <input type="radio" name="drowsy_level" value="2"> 2<br>
        <input type="radio" name="drowsy_level" value="3"> 3<br>
        <input type="radio" name="drowsy_level" value="4"> 4<br>
        <input type="radio" name="drowsy_level" value="5"> 5<br>
        <form action="">
        <label>
          How sensitive are you to light?
            </label>
          <br>
        <input type="radio" name="light_sensitivity_level" value="1"> 1<br>
        <input type="radio" name="light_sensitivity_level" value="2"> 2<br>
        <input type="radio" name="light_sensitivity_level" value="3"> 3<br>
        <input type="radio" name="light_sensitivity_level" value="4"> 4<br>
        <input type="radio" name="light_sensitivity_level" value="5"> 5<br>
        <form action="">
        <label>
          How sensitive are you to noise?
            </label>
          <br>
        <input type="radio" name="noise_sensitivity_level" value="1"> 1<br>
        <input type="radio" name="noise_sensitivity_level" value="2"> 2<br>
        <input type="radio" name="noise_sensitivity_level" value="3"> 3<br>
        <input type="radio" name="noise_sensitivity_level" value="4"> 4<br>
        <input type="radio" name="noise_sensitivity_level" value="5"> 5<br>
        <form action="">
        <label>
          Do you feel mentally foggy?
            </label>
          <br>
        <input type="radio" name="foggy_level" value="1"> 1<br>
        <input type="radio" name="foggy_level" value="2"> 2<br>
        <input type="radio" name="foggy_level" value="3"> 3<br>
        <input type="radio" name="foggy_level" value="4"> 4<br>
        <input type="radio" name="foggy_level" value="5"> 5<br>
        <form action="">
        <label>
          How focused are you?
            </label>
          <br>
        <input type="radio" name="focus_level" value="1"> 1<br>
        <input type="radio" name="focus_level" value="2"> 2<br>
        <input type="radio" name="focus_level" value="3"> 3<br>
        <input type="radio" name="focus_level" value="4"> 4<br>
        <input type="radio" name="focus_level" value="5"> 5<br>


      <button>
      Submit
    </button>
  </form>
</body>
</html>
